<div class="dashboard">
    <div class="top">
        <h1 class="title">HEY tuanrider</h1>
        <div><a class="add note-btn" href="/dashboard/add">Add new note</a></div>

    </div>
    <form class="" role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="" placeholder="Search..." aria-label="Search">
    </form>
    <div class="bottom">
        <div class="note-list">
            {{#each result}}
            <a href="/note/{{idnote}}/edit" class="note-item">
                <div class="note-detail">
                    <h3 class="note-title">{{title}}</h3>
                    <p class="note-content">{{content}}</p>
                </div>
                <div class="note-createdAt">
                    <p>{{createdAt}}</p>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>