<div class="dashboard">
    <div class="top">
        <h1 class="title">HEY Dau Cak</h1>
        <div><a class="add note-btn" href="/dashboard/add">Add new note</a></div>

    </div>
    <div class="bottom">
        <div class="note-list">
            {{#each result}}
            <a href="/note/:slug" class="note-item">
                <h3 class="note-title">{{title}}</h3>
                <p class="note-content">{{content}}</p>
            </a>
            {{/each}}
        </div>
    </div>
</div>