<main>
    <div>
        <h1 class="home-title">
            Write your thoughts down as they come to you.
        </h1>
        <p>
            Notes is a simple to use free note taking app made with Node.Js, Handlebar & MySQL.
        </p>
        <a href="/auth/google">Try Notes, it's FREE!</a>
    </div>
</main>