<main>
    <div class="main-container">
        <h1 class="home-title">
            Write your thoughts down as they come to you.
        </h1>
        <p class="home-description">
            Notes is a simple to use free note taking app made with Node.Js, Handlebar & MySQL.
        </p>
        <div>
            <a class="try note-btn" href="/auth/google">Try Notes, it's FREE!</a>
        </div>
    </div>
</main>