  <footer>
    <p>© 2022 Notes, Inc</p>

    <a href="/" >
      Notes.
    </a>

    <ul class="">
      <li><a href="/">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </footer>