<header>
    <a href="/">Notes</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div>
        <a href="/" type="button">Sign in</a>
        <a href="/" type="button">Sign up</a>
    </div>
</header>