<header>
    <a href="/dashboard">
        Notes
    </a>

    <formrole="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" placeholder="Search..." aria-label="Search">
        </form>

        <div>
            <a href="/logout" type="button">Logout</a>
        </div>
</header>