<header class="">
    <a class="logo" href="/">Notes</a>
    <ul class="">
        <li><a href="/">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div class="button">
        <a class="signin note-btn" href="/" type="button">Sign in</a>
        <a class="signup note-btn" href="/auth/register" type="button">Sign up</a>
    </div>
</header>