.note-btn {
    padding: 1.25rem;
    line-height: 1.25;
    min-width: 272px;
    // font-size: 1rem;
    color: rgb(12, 9, 9);
    border-radius: 4px;
    font-weight: 700;

    &:hover {
        opacity: 0.5;
    }
}