.dashboard {
    width: 100%;

    .top {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        margin-bottom: 2rem;

        .add {
            // border-radius: 50%;
            padding: 0.875rem;
            border: 1px solid rgb(12, 9, 9);
            color: rgb(12, 9, 9);
        }
    }

    form {
        margin-bottom: 2rem;

        input {
            width: 100%;
            border: 2px solid rgb(12, 9, 9);
            border-radius: 8px;
            padding: 8px;
            font-size: 1.25rem;
        }
    }

    .bottom {
        .note-list {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            .note-item {
                height: 350px;
                padding: 1rem;
                border: 3px solid rgb(12, 9, 9);
                display: flex;
                flex-direction: column;

                .note-detail {
                    .note-title {
                        font-size: 24px;
                        color: rgb(12, 9, 9);
                        margin-bottom: 1rem;
                    }

                    .note-content {
                        font-size: 17px;
                        color: slategray;
                        white-space: pre-wrap;
                    }
                }

                .note-createdAt {
                    color: rgb(12, 9, 9);
                    margin-top: auto
                }
            }
        }
    }

}